@page

@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Hosting
@using sample

@inject IHostEnvironment env
@inject IOptions<AppConfig> appConfig

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    
    <link rel="shortcut icon" href="~/images/favicon_black.ico">
    <title>LayedSettings Example</title>
</head>
<body>
    <style>
        div.content {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }
        div.row {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    </style>
    <div class="content">
        <h1>Environment Setup</h1>
        <div class="row"><img src="/env.png" /></div>
        <h1>Current Environment: @env.EnvironmentName</h1>
        <div class="row"><h3>CommonOption:</h3>@appConfig.Value.CommonOption</div>
        <div class="row"><h3>ProductionOnlyOption:</h3>@appConfig.Value.ProductionOnlyOption</div>
        <div class="row"><h3>PPEOnlyOption:</h3>@appConfig.Value.PPEOnlyOption</div>
        <div class="row"><h3>DevelopmentOnlyOption:</h3>@appConfig.Value.DevelopmentOnlyOption</div>
        <div class="row"><h3>DevOverridePPEOption:</h3>@appConfig.Value.DevOverridePPEOption</div>
    </div>
</body>
</html>
